body{
font-family:Arial;
background-color:#f0f0f0;
text-align: center;
padding:20px;
}

h1{
color: #003366;
}
.descripcion{
background-color:white;
padding:15px;
border-radius:10px;
}

a{
color:#0066cc;
text-decoration:none;
text-align: center;
}
a:hover{
color:#ff6600;
}

	
